* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container {
    width: 600px;
    border: 2px solid red;
    background-color: bisque;
    margin: auto;
    padding: 20px 40px;
}

ul {
    list-style-type: none;
}

h1 {
    color: steelblue;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

li {
    margin-bottom: 25px;
}

img {
    margin-bottom: 50px;
}